button {
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  color: #242424;

  border: 1px solid #242424;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.87);

  transition: border-color 0.25s;

  @media screen and (min-width: 480px) {
    font-size: 20px;
    padding: 10px 20px;
  }
}
button:hover,
button:focus,
button:focus-visible {
  box-shadow: 0px 3.4px 3.4px 0px #242424;
}

.comment {
  font-size: 12px;
  margin-top: 5px;
  font-style: italic;
}
