.main {
  flex: 1;
}

.pageTitle {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-bottom: 30px;
}

.label-description {
  text-align: left;
  font-size: 20px;
  font-weight: 500;

  margin-bottom: 10px;
}

.input {
  width: 400px;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #242424;

  border: 1px solid #242424;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  background-color: rgba(255, 255, 255, 0.87);

  /* margin-bottom: 30px; */
}

.input::placeholder {
  font-size: 14px;
  font-style: italic;
}
