#root {
  min-height: calc(100vh - 60px);
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  #root {
    width: 1280px;
    min-height: 100vh;
    padding-left: 32px;
    padding-right: 32px;
  }
}
