/* #root {
  width: 1280px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

#root {
  /* max-width: 479px; */
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (min-width: 480px) {
  #root {
    width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* @media screen and (max-width: 479px) {
  #root {
    max-width: 479px;
  }
} */

.loader {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  height: '100vh';
}
/* 
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
